<input
  type="text"
  placeholder="Search courses..."
  [(ngModel)]="searchTerm">

<button (click)="updateSearch()">
  Search
</button>

<h2>Available Courses</h2>

<div *ngIf="(courses$ | async) as courses">

  <div *ngIf="courses.length > 0; else noCourses">

    <div
      *ngFor="let course of (courses$ | async) ; trackBy: trackByCourseId"
      (click)="navigateToCourse(course.id)"
      style="cursor: pointer;">

      <app-course-card
        [course]="course"
        (enrollRequested)="onEnroll($event)"
        (deleteRequested)="deleteCourse($event)">
    </app-course-card>

    </div>

  </div>

</div>

<ng-template #noCourses>
  <p>No courses available.</p>
</ng-template>
<hr>

<button (click)="addSampleCourse()">
    Add Sample Course
</button>
<hr>

<button (click)="updateFirstCourse()">
    Update First Course
</button>
<hr>

<button (click)="deleteCourse(3)">
    Delete Course 3
</button>
<hr>
<p *ngIf="selectedCourseId">
  Selected Course ID: {{ selectedCourseId }}
</p>